.logo {
    width: 200px;
    z-index: 1;
}

.logo-background {
    position: absolute;
    margin-top: 50px;
    z-index: -2;
}

hr.image-top {
    width: 85%;
    height: 6px;
    background-color: #333;
    opacity: 1;
}

hr {
    background-color: #61892f;
    height: 1px;
    opacity: 0.5;
}

.panel-image {
    max-width: 300px;
}

.card {
    margin-left: 35px;
    border-radius: 0px;
    box-shadow: 0.5px 0.5px 2px 2px #333;
}

.card:hover {
    box-shadow: 0.5px 0.5px 2px 2px #333 inset;
}

.home-headline {
    background-color: #231F20;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.home-headline span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #fff;
    padding: 5px 22px;
}

.shelf-image {
    max-width: 100%;
    z-index: -1;
    margin-bottom: 10px
}

.books-on-shelf {
    width: 80%;
    margin-top: -170px;
    margin-left: 120px;
}

.shelf-single-book {
    width: 75%;
    box-shadow: 1px 1px 2px 2px #333;
}