<div class="container">
  <div class="row">
    <!--<div class="col-xs-8">
      TODO Heading
    </div>
    <div class="col-xs-4">
      <img src="../../../assets/images/logo.png"
          alt="logo"
          class="img-responsive logo" />
    </div>-->
    <div class="col-xs-12">
        <img src="../../../assets/images/sea.png"
               alt="logo-background"
               class="img-responsive" />
    </div>
    
  </div>

  <hr class="image-top">

  <div class="row">
    <div class="col-xs-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <a routerLink="/book-list">
              <img src="../../../assets/images/bestseller.png"
                   class="image-responsive panel-image" />
            </a>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/hours">
                <img src="../../../assets/images/hours.png"
                     class="image-responsive panel-image" />
              </a>
            </h4>
          </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/faq">
                <img src="../../../assets/images/faq.png"
                     class="image-responsive panel-image" />
              </a>
            </h4>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 home-headline">
        <span>
          Featured Books
        </span>
    </div>

  </div>

  <div class="row">
      <div class="col-xs-12">
          <img src="../../../assets/images/shelf.png"
               class="shelf-image image-responsive">
      </div>
  </div>

  <div class="row books-on-shelf">
      <div class="col-xs-2 col-md-2">
          <img class="image-responsive shelf-single-book"
               src="../../../assets/images/book1.png"/>
      </div>

      <div class="col-xs-2 col-md-2">
          <img class="image-responsive shelf-single-book"
               src="../../../assets/images/book1.png"/>
      </div>

      <div class="col-xs-2 col-md-2">
          <img class="image-responsive shelf-single-book"
               src="../../../assets/images/book1.png"/>
      </div>

      <div class="col-xs-2 col-md-2">
          <img class="image-responsive shelf-single-book"
               src="../../../assets/images/book1.png"/>
      </div>

      <div class="col-xs-2 col-md-2">
          <img class="image-responsive shelf-single-book"
               src="../../../assets/images/book1.png"/>
      </div>

      <div class="col-xs-2 col-md-2">
          <img class="image-responsive shelf-single-book"
               src="../../../assets/images/book1.png"/>
      </div>
          
  </div>
  


</div>
